## Housing Price Prediction in multivariate regression

#### In this project, we will use multivariate regression model to build a home guide to home buyers on multiple factors associated with house prices, in order to make the buyers more informed when they are making buying decisions.

In [1]:
# dependencies
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# load the data
house_df = pd.read_csv("raw_data/housing.csv")

# display all the colums
pd.set_option('display.max_columns', None)

# data first look
house_df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
# data info
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [4]:
print ("Number of rows: " + str(house_df.shape[0]))
print ("Number of columns: " + str(house_df.shape[1]))

Number of rows: 545
Number of columns: 13